:root {
	/* Sets board size to 3x the size of --picture-size */
	--picture-size: 200px; 
}

body {
	background-color: lightgrey;
}

h1 {
	text-align: center;
}

.board {
	display: grid;
 	grid-template-columns: 
 		var(--picture-size) var(--picture-size) var(--picture-size);
 	padding: 0px;
 	grid-row-gap: 0;
 	justify-content: center;
}

.square {
	width: var(--picture-size);
	height: var(--picture-size);	
}

.square:hover, .square:active {
	box-shadow: 0 0 10px 10px blue;
	z-index: 1;
}

#one, #two, #three,
#four, #five, #six,
#seven, #eight, #nine 
{
	width: var(--picture-size);
	height: var(--picture-size);
}